* {
    box-sizing: border-box;
    margin: 0;
}

#button {
    display: block;
    margin: 2em auto;
    
}

#container {
    max-width: 800px;
    margin: auto;
    max-height: 800px;
}

.box {
    background-color: darkgrey;
    border: 1px black solid;
    /*opacity: 0.2;*/
    
    /*flex: 0 0 calc(100%/16);*/
    

}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;

}